Hey, {{ user.name }}!
Someone (hopefully you) requested a password reset link for your {{ brandName }} account.

You can reset your password by visiting the link below
{{ url }}

This link will expire in 30 minutes. If you did not request a password reset, you can safely ignore this email.
