@mjml()
  <mjml>
    <mj-body>
      <mj-section>
        <mj-column>
          <mj-text font-size="20px" font-weight="600" align="center">
            Hey, {{ user.name }}!
          </mj-text>
          <mj-text align="center">
            <span style="opacity: 0.8" font-weight="500">
              Someone (hopefully you) requested a password reset link for your {{ brandName }} account.
            </span>
          </mj-text>
          <mj-button href="{{ url }}">
            Verify Email
          </mj-button>
          <mj-text align="center" font-size="10px" padding-top="16px">
            <span style="opacity: 0.6">
              This link will expire in 30 minutes. If you did not request a password reset, you can safely ignore this email.
            </span>
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-body>
  </mjml>
@end
