Welcome to {{ brandName }}, {{ user.name }}!
Someone (hopefully you) created an account at Lepse or requested an email verification.

You can verify your email by visiting the link below
{{ url }}

This link will expire in 1 hour. If you did not request an email verification, you can safely ignore this email.
