@layout()
  <div class="relative m-auto flex flex-col gap-4 p-4 text-center">
    {{-- lucide circle-check --}}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="absolute bottom-full left-1/2 size-16 -translate-x-1/2 -translate-y-4 text-green-600 sm:size-20"
    >
      <circle cx="12" cy="12" r="10" />
      <path d="m9 12 2 2 4-4" />
    </svg>
    <p class="text-2xl font-bold sm:text-3xl">Email Verified!</p>
    <p class="text-lg tracking-wide opacity-50 sm:text-xl">You may close this window now.</p>
  </div>
@end
