@layout()
  @if(flashMessages.has('success'))
    <div class="relative m-auto flex flex-col gap-4 p-4 text-center">
      {{-- lucide circle-check --}}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="absolute bottom-full left-1/2 size-16 -translate-x-1/2 -translate-y-4 text-green-600 sm:size-20"
      >
        <circle cx="12" cy="12" r="10" />
        <path d="m9 12 2 2 4-4" />
      </svg>
      <p class="text-2xl font-bold sm:text-3xl">{{ flashMessages.get('success') }}</p>
      <p class="text-lg tracking-wide opacity-50 sm:text-xl">You may close this window now.</p>
    </div>
  @else
    <form
      action="{{ urlFor('web.reset-password', { token }) }}"
      method="POST"
      class="relative m-auto flex flex-col gap-6 p-4 text-center"
    >
      {{-- lucide asterisk --}}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="absolute bottom-full left-1/2 size-16 -translate-x-1/2 -translate-y-4 text-green-600 sm:size-20"
      >
        <path d="M12 6v12" />
        <path d="M17.196 9 6.804 15" />
        <path d="m6.804 9 10.392 6" />
      </svg>
      <p class="text-2xl font-bold text-pretty sm:text-3xl">You can reset your password now!</p>

      <div class="mt-4 flex w-full max-w-sm flex-col gap-4 self-center">
        <input
          value="{{ old('password', '') }}"
          name="password"
          type="password"
          autocomplete="new-password"
          placeholder="New Password"
          class="rounded-lg border border-gray-300 px-3 py-1 ring-gray-300 outline-none focus-visible:ring-2"
        />
        <input
          value="{{ old('passwordConfirmation', '') }}"
          name="passwordConfirmation"
          type="password"
          autocomplete="new-password"
          placeholder="Confirm Password"
          class="rounded-lg border border-gray-300 px-3 py-1 ring-gray-300 outline-none focus-visible:ring-2"
        />
      </div>
      @if(flashMessages.has('error'))
        <p class="text-red-400 text-sm font-medium">{{ flashMessages.get('error') }}</p>
      @end

      <button
        class="self-center rounded-lg bg-green-700 px-4 py-2 text-sm font-medium ring-gray-300 outline-none focus-visible:ring-2 active:translate-y-px"
      >
        Reset Password
      </button>
    </form>
  @end
@end
