@import '@lepse/ui/app/assets/css/tailwind.css';
@import 'tw-animate-css';
@import './fonts.css';
@import './themes.css';

@custom-variant fixed-color-clock (&:where([data-fixed-color-clock] *));

@theme inline {
  --color-foreground-fixed: var(--foreground-fixed);
}

@theme {
  --font-outfit: 'Outfit', 'fallback', sans-serif;
  --font-dm-mono: 'DM Mono', 'fallback', monospace;

  --font-sans: var(--font-outfit);
  --font-mono: var(--font-dm-mono);

  /* IMPORTANT: MUST match util breakpoints */
  --breakpoint-2xs: 448px;
  --breakpoint-xs: 512px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --text-10xl: 10rem;
}

@layer base {
  html {
    @apply overflow-hidden bg-transparent select-none;
  }
  body {
    @apply bg-transparent;
  }
}

select option {
  color: canvastext;
  background-color: canvas;
}
