@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn-vue/tailwind.css';
@import './themes.css';

@custom-variant dark (&);

@theme inline {
  --radius: 0.625rem;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-fixed: var(--foreground-fixed);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  color-scheme: dark;
}

@theme {
  --font-outfit: 'Outfit', sans-serif;
  --font-dm-mono: 'DM Mono', monospace;

  --font-sans: var(--font-outfit);
  --font-mono: var(--font-dm-mono);

  /* IMPORTANT: MUST match util breakpoints */
  --breakpoint-2xs: 448px;
  --breakpoint-xs: 512px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --text-10xl: 10rem;
}

@layer base {
  * {
    @apply border-border/50 outline-ring/50;
  }
  html {
    @apply overflow-hidden select-none;
  }
  body {
    @apply text-foreground bg-transparent;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
  p {
    @apply leading-normal;
  }
  .focus {
    @apply focus-visible:border-ring focus-visible:ring-ring/50 transition-all outline-none focus-visible:ring-[3px];
  }
}

select option {
  color: canvastext;
  background-color: canvas;
}
